
body{
    background-color: black; color: rgb(199, 197, 197); font-size: 350%;
    background-position: 50%;
    margin-top: 50px 80px 0px 0px;

}

h4{
    color: chartreuse ;
}




H4.MORIR{
    color: chocolate;
}

H1{
    font-size: 80PX;
}
